@model ProjectInfo.Models.Attachment



@{
    ViewBag.Title = "Upload";
}

<button id="AddFileButton" class="btn btn-default">Add file</button>

@using (Html.BeginForm("Upload", "Attachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   
    @Html.AntiForgeryToken()


    <div id="UploadField" hidden="hidden">
        <input type="file" name="File" id="File" class="form-control-file" />
        <input type="submit" value="Upload" name="Upload" id="Upload" class="btn btn-default" />

        @*<td>
            <label class="btn btn-default btn-file">
                Browse files
                <input type="file" name="File" id="File" hidden="hidden">
            </label>*@
        @*<div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" /></span>
                <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
            </div>*@
        @*</td>*@


    </div>
}


<script>
    document.getElementById("AddFileButton").addEventListener("click", ShowAddFile)
</script>





